{% extends "products_app/index.html" %}
{% load static %}

{% block masterhead %}
    {% if products %}

        <div class="container">
            <div class="row">
                <h2> Voici les produits que vous avez sauvegardés :</h2>
            </div>
        </div>


    {% endif %}
{% endblock masterhead %}


{% block content %}
        <link href="{% static "products_app/css/creative_product.css" %}" rel="stylesheet">
        <div class="container">
            <div class="row">

                {% load static %}
                {% get_static_prefix as STATIC_PREFIX %}

                {% for product  in products %}

                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4" id="product_show">
                        <a href="{% url 'product_page' product.id %}"><img src={{product.image_url}} id="img_product"></a>
                        <p >{{ product.name }}</p>
                        {% for code in nutricode_list %}
                            {% if code == product.nutriscore %}
                                <img src="{{ STATIC_PREFIX }}products_app/img/nutricode/{{code}}.png" id="nutricode" >
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock content %}