{% extends "index.html" %}

{% block masterhead %}
    <div id="select_product">
        <div class="container h-100">
            <div class="row">
                <div class="col-fluid">
                    <img src="">
                    <h2></h2>
                </div>
            </div>
        </div>
    </div>
{% endblock masterhead %}

{% block content %}
    <div id="description_product">
        <div class="container">
            <div class="row">
                <div class="col">
                </div>
            </div>
        </div>
    </div>

{% endblock content %}