{% extends "products_app/index.html" %}
{% load static %}

{% block masterhead %}
    <div class="container">
        <div class="row">
            <h2> Voici le produit sélectionné :</h2>
        </div>
        <div class="row">
            <img src={{product.image_url}} id="product_pick">
        </div>
    </div>
{% endblock masterhead %}

{% block content %}
        <link href="{% static "products_app/css/creative_product.css" %}" rel="stylesheet">
        <div class="container">
            <div class="row">
            </div>
        </div>
{% endblock content %}