{% extends "products_app/index.html" %}
{% load static %}

{% block content %}
<link href="{% static "products_app/css/creative_product.css" %}" rel="stylesheet">
<h2> Mentions Légales</h2>

<p> Le présent site est la propriété de :<br>
    Mr MILLET Nicolas<br>
    5 rue de la barillerie 37140<br>
    Coteaux sur loire<br>
    rcp.nmillet@gmail.com
</p>

<p> L'hebergeur du site est la société Heroku dont le siège social est à
San Francisco, Californie, Etats-unis. <a href="https://www.heroku.com/">Lien</a></p>

<p>Les images du sites proviennent du site suivant :<br>
    <a href="https://unsplash.com/photos/eqsEZNCm4-c">https://unsplash.com/photos/eqsEZNCm4-c</a><br>
    <a href="https://thenounproject.com/term/carrot/29691/">https://thenounproject.com/term/carrot/29691/</a><br>
    <a href="https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide#/introduction/Notre-identit%C3%A9">
        https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide#/introduction/Notre-identit%C3%A9</a>
</p>
<p>Le template utilisé est disponible a l'adresse suivante :</p>
<a href="https://blackrockdigital.github.io/startbootstrap-creative/">https://blackrockdigital.github.io/startbootstrap-creative/</a>

{% endblock %}